html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  color: #0d3c55;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header a {
  text-decoration: none;
  color: #0d3c55;
}

.controls-container {
  margin-bottom: 20px;
}

.controls-container .switchLang {
    margin: 0 10px;
}

.text-container {
  display: flex;
  flex-direction: row;
}

.grammar-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 16px;
}

.grammar-container .editor {
  border: 1px solid black;
  padding: 10px;
}

.grammar-container button {
  margin-top: 20px;
  padding: 10px;
  align-self: flex-end;
  cursor: pointer;
}

.translate-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 400px;
  margin-left: 20px;
}

.translate-container .translation {
  min-height: 18px;
  margin: 0;
  padding: 10px;
  word-wrap: break-word;
  border: 1px solid black;
}

.translate-container .msAttribution {
  align-self: flex-end;
}
